@import "./components/variables.module";


.main {
  display: flex;
  height: 100%;
  background-color: map-get($map: $colors, $key: background);

  .sidebarWrapper {
    top: 0px;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;

    .sidebar {
      display: flex;
      position: fixed;
      flex-direction: column;
      height: 100%;
      width: 250px;
      padding: 1rem;
      background-color: map-get($map: $colors, $key: primary);
      overflow-y: auto;


      .filters_header {
        color: white;
        font-size: 1.5rem;
      }

      .filter_section {
        margin-bottom: 5rem;

      }

      .filter_search {
        display: flex;
        justify-content: center;
        margin-top: 350px;

        .filter_search_button {
          padding: .5rem;
          font-size: 1.5rem;
          margin-bottom: 3rem;
          background-color: map-get($map: $colors, $key: button);
          color: map-get($map: $colors, $key: secondary);
          border-radius: 0.5rem;
          border-color: map-get($map: $colors, $key: secondary);

          &:hover {
            cursor: pointer;
            color: map-get($map: $colors, $key: text);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
        }
      }

      .filter_title {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 2px solid #000;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;

        &:hover {
          color: black;
          background-color: white;
          cursor: pointer;
        }
      }

      .filter_sub_title {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .filter_label {
        color: white;
        display: block;
        margin-bottom: 0.5rem;
      }


      .range_input {
        display: flex;
        align-items: center;
        gap: 5px;
        /* Adjust gap between inputs and "to" text */
      }

      .range_input input {
        width: 80px;
        /* Set a fixed width for the input boxes */
        padding: 5px;
        font-size: 14px;
      }

      .range_separator {
        margin: 0 5px;
      }



      // @media (max-height: 720px){
      //   height: 120vh;
      //   width: 250px;
      // }

      // @media (min-height: 721px){
      //   height: 120vh;
      //   width: 250px;
      // }

    }
  }


  .filter_data_section {
    margin-top: 1.75rem;
    display: block;
    // align-items: center;
    box-sizing: border-box;
    // justify-content: flex-start;
    // flex-direction: row;
    transform: translateX(300px);
    width: calc(100% - 300px);

    .filter_data_item {
      display: flex;
      gap: 1rem;
      position: relative;
      justify-content: space-evenly;
      flex-direction: row;
      // .load_fail {

      .image_container {
        display: flex;
        flex-direction: column;
        left: 0;

        img {
          left: 0;
          width: 600px;
          height: 700px;
        }
      }

      // }
      .unclicked_data_item {
        margin-bottom: 30px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        width: 765px;
        background: transparent;
        border: 4px solid black;
        box-shadow: 5px 5px 10px black;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

        h2 {
          text-align: center;
        }

        .carImage {
          position: relative;
          left: 20px;
          z-index: 2;
        }

        .save_button {
          z-index: 3;
          position: relative;
          right: 10px;
          background: transparent;
          border: none;
        }


      }



      .clicked_data_item {
        margin-bottom: 30px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        width: 765px;
        border: 4px solid black;
        box-shadow: 10px 10px 100px black;
        background: transparent;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

        h2 {
          text-align: center;
          backdrop-filter: blur(30px);

        }

        .clickedCarHead {
          width: 765px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 0;
            height: 3px;
            background-color: #000000;
            transition: width 0.5s ease;
          }

          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -10px;
            width: 0;
            height: 3px;
            background-color: #000000;
            transition: width 0.5s ease;
          }

          &:hover::before {
            width: 55%;
          }

          &:hover::after {
            width: 55%;
          }

        }

        .carImage {
          position: relative;
          left: 20px;
          z-index: 2;

        }

        .save_button {
          z-index: 3;
          position: relative;
          right: 10px;
          background: transparent;
          border: none;
        }

        h3 {
          // opacity:0;
          // animation: fadeIn 2s ease-in forwards;
          text-align: left;
          padding-left: 50px;

          strong {
            opacity: 0;
            animation: fadeIn 2s ease-in forwards;
            text-align: left;
          }

          span {
            position: relative;
            display: inline-block;
            opacity: 0;
            animation: fadeIn 2s ease-in forwards;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -5px;
              width: 0;
              height: 3px;
              background-color: #000000;
              transition: width 0.5s ease;
              animation: underLineIn 2s ease-in forwards;
            }
          }
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @keyframes underLineIn {
        from {
          width: 0%;
        }

        to {
          width: 100%;
        }
      }

      @keyframes dash {
        0% {
          border-image-source: linear-gradient(90deg, black, 50%, transparent 50%);
          border-image-slice: 1;
        }

        25% {
          border-image-source: linear-gradient(180deg, black, 50%, transparent 50%);
        }

        50% {
          border-image-source: linear-gradient(270deg, black, 50%, transparent 50%);
        }

        75% {
          border-image-source: linear-gradient(360deg, black, 50%, transparent 50%);
        }

        100% {
          border-image-source: linear-gradient(90deg, black, 50%, transparent 50%);

        }
      }


    }
  }

  // @keyframes slideAndFade{
  //   from {
  //     transform: translateX(0%);
  //     opacity:1;
  //   }
  //   to{
  //     transform: translateX(60%);
  //     opacity:0;
  //   }
  // }


  // @keyframes fadeColor{
  //   from{
  //     color: green;
  //   }
  //   to{color:black;}
  // }


  .image_background{
    display: flex;
    background: transparent;
    // backdrop-filter: blur(1px);
    // border: 4px solid black;
    border:none;
    box-shadow: 0px 30px 2500px black;
    z-index:1;
    align-items: center;
    justify-content: center;
    .carImageItem{
      position:relative;
      z-index:2;
      width:100%;

    }
  }
  .marketValueBlock {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;

    .marketValueCollection {
      position: absolute;
      background: green;
      width: 275px;
      height: 50px;
      display: flex;
      transition: opacity 0.5s ease-in;
      z-index:2;
      align-items: center;
      justify-content: center;
      opacity: 1;
      color: white;

      &:hover {
        color: transparent;
        opacity: 0;
      }

    }

    .marketValueItem {
      opacity:1;
      z-index: 1;
      text-align: center;
      color: black;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      pointer-events: none;
    }
  }
}



// .filter_data_section > .filter_data_item:first-child {
//   margin-left: .8rem; /* Adjust as needed */
// }

// .filter_data_section > .filter_data_item:last-child {
//   margin-right: .8rem; /* Adjust as needed */
// }