$colors: (
    "primary": #003366,
    "secondary": #484848,
    "accent": #DC143C,
    "background": #FFFFF0,
    "text": #343A40,
    "highlight": #FFD700,
);
$main-font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$text-sizes: (
    "XL": 36px,
    "L" : 24px,
    "M" : 20px,
    "S" : 16px,
    "XS" : 12px,
);